{% extends "base.html" %}




{% block content %}
<div class="container" id="zeel">
    <div class="text">

        <div class="card-header" id="zee">
            SPI CALCULATOR
        </div>
        <div class="card-body">
            <h2 class="card-title">Well Come to Spi🧮 calculator fro Nirma University Undergraduate </h2>
            <p class="card-text">Here you can calculate spi of sem</p>
            <a href="/clc" class="btn btn-primary">Go SPI Calculations For All Branch</a>
            <a href="/branch" class="btn btn-primary">Go SPI Calculations For B-tech</a>
        </div>
        <div class="card-footer" id="gu">
            Div C
        </div>
    </div>
    {{ super() }}
</div>

{% endblock%}

