{% extends "base.html" %}




{% block content %}


<div class="container" id="zeel">
    <div class="text">
        <div class="card-header" id="zee">

            SPI CALCULATOR
        </div>
        <div class="form">
            {% if 'branch' == type %}
            <form action={{action}} method="POST" class="catainer-form">
                <div class="section-box">
                    <label for=branch id="a">Choose a Branch:</label>
                    <select id="branch" name="branch">
                        {% for data in branchlist%}
                        <option value='{{data}}'>{{data}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="section-box">
                    <label for=semester id="a">Choose a Semester:</label>
                    <select id="semester" name="semester">
                        {% for data in semlist %}
                        <option value='{{data}}'>{{data}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn">GO</button>
            </form>
            {% elif 'semester'==type %}
            <form action={{action}} method="POST" class="catainer-form">
                <div class="form-head" id='Branch'>Branch:<span name="branch" value="1">{{branch}}</span></div>
                <div class="form-head" id='Semester'>Semester:<span name="semester"></span>{{semester}}</span></div>
                <div class="form-head">Subjects:</div>
                {% for data in sublist%}
                <div class="section-box">
                    <label for='sublist'>{{data[1]}}:</label>
                    <div class="sub_name">
                        {% for name in data[3]%}
                        <div>
                            {{name}}
                        </div>
                        {% endfor %}
                    </div>
                    <select id='sublist' name='sublist'>
                        <option value="AP">A+</option>
                        <option value="A">A</option>
                        <option value="BP">B+</option>
                        <option value="B">B</option>
                        <option value="CP">C+</option>
                        <option value="C">C</option>
                        <option value="F">F</option>
                    </select>
                </div>
                {% endfor %}
                <input name="branch" value='{{branch}}' style="display: none;">
                <input name="sem" value='{{semester}}' style="display: none;">
                <button type="submit" class="btn">GO</button>
            </form>
            {% elif 'spi' == type %}
            <div class="section-box" style="width:auto; margin:10px 0;  flex-direction: column; align-items: center;">
                <h2>SPI/Result is:</h2>
                <h3 class="btn" >{{result}}</h3>
                <a href="/" class="btn">Home</a>
            </div>
            {% else %}
            <h1 id={{type}}>{{error}}</h1>

            {% endif %}
        </div>
        <div class="card-footer" id="gu">
            Div c
        </div>
    </div>
</div>
{% endblock%}

